<h1 class="white" >Leader Board</h1>
<div class="users-index">
<table class="leader-board">
  <tr>
    <th></th>
    <th></th>

  </tr>

  <tr>
   
    <% users_total_score(@users).each do |k,v|  %> 
      <td class="key-value-pair"><%= "#{k} #{v}" %></td>
    <%end%>
    
  
   
  
  </tr>
</div>
</table>
 